{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<div class="content-wrapper">
    <h2>All Computer Clubs</h2>
    <form method="get" action="{% url 'clubs' %}" class="search-form">
        {{ search_form.as_p }}
        <button type="submit" class="btn btn-primary">Search</button>
        <a href="{% url 'clubs' %}" class="btn btn-secondary">Reset</a>
    </form>
    <div>
        {% csrf_token %}
        <button id="save-location" type="button">Show Clubs near</button>
    </div>
    <div id="club-list">
        {% for club in page_obj %}
        <div class="club-card">
            <div class="club-header">
                <span class="club-name">{{ club.name }}</span>
                <span class="club-rating 
                    {% if club.rating < 3 %}
                        low-rating
                    {% elif club.rating > 3.9 %}
                        high-rating
                    {% else %}
                        medium-rating
                    {% endif %}
                ">
                    Rating: {{ club.rating }}/5
                </span>
            </div>
            <div class="club-info">
                <div class="club-address">{{ club.address }}, {{ club.city }}</div>
                <div class="club-phone">{{ club.phone_number|default:"Not available" }}</div>
                {% comment %} <div class="club-links">
                    {% if club.instagram_url %}
                    <a href="{{ club.instagram_url }}" target="_blank">Instagram</a>
                    {% endif %}
                    {% if club.whatsapp_url %}
                    <a href="{{ club.whatsapp_url }}" target="_blank">WhatsApp</a>
                    {% endif %}
                    {% if club.twogis_url %}
                    <a href="{{ club.twogis_url }}" target="_blank">2GIS</a>
                    {% endif %}
                    {% if club.website %}
                    <a href="{{ club.website }}" target="_blank">Website</a>
                    {% endif %}
                </div> {% endcomment %}
                <div class="club-working-hours">
                    <p><strong>Working Hours: {{ club.display_working_hours }}</strong></p>
                </div>
                <div>
                    <a href="{% url 'detailed_club_view' club.id %}"><button class="btn">Select PC Club</button></a>
                </div>
                {% comment %}  {% endcomment %}
            </div>
        </div>
        
        {% endfor %}
    </div>

    <!-- Pagination Controls -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% else %}
            <span class="disabled">&laquo; first</span>
            <span class="disabled">previous</span>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <span class="current">{{ num }}</span>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% else %}
            <span class="disabled">next</span>
            <span class="disabled">last &raquo;</span>
            {% endif %}
        </span>
    </div>
</div>

<script>
    // clubs.js
    
    document.addEventListener('DOMContentLoaded', function() {
        // Function to get CSRF token from cookies
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    
    
        const saveLocationButton = document.getElementById('save-location');
        
        saveLocationButton.addEventListener('click', function() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(sendLocation);
                    console.log("navigator.geolocation.getCurrentPosition(sendLocation)");
                } else {
                    alert('Geolocation is not supported by your browser.');
                }
            });
         
    
        function sendLocation(position) {
            const csrftoken = '{{ csrf_token }}'

            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            console.log(latitude, longitude);
            fetch('{% url "clubs" %}', {  // Ensure this URL matches your Django URL configuration
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ latitude: latitude, longitude: longitude }),
            })
            .then(response => {
                console.log('Response status:', response.status);
                console.log('Response headers:', response.headers);
                if (!response.ok) {
                    // Attempt to parse the error message from the response
                    return response.text().then(text => { throw new Error(text) });
                }
                // Return the parsed JSON data
                //return response.json();
            })
            .then(data => {
                console.log('Received data:', data); // For debugging
                if (data.success) {
                    alert('Location saved successfully!');
                } else {
                    alert('Failed to save location: ' + (data.error || 'Unknown error.'));
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while saving location: ' + error.message);
            });
        }
    
        function showError(error) {
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    alert("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.");
                    break;
            }
        }
    });
    </script>
{% endblock %}
