
{% extends 'base/main.html' %}
{% load static %}

{% block title %}
{{ club.name }} - Details
{% endblock %}

{% block content %}
{% include 'base/book.html' %}

<section class = "each-club">
    <div id="club-list">
        <!-- Club Card -->
        <div class="club-card">
            <div class="club-header">
                <span class="club-name">{{ club.name }}</span>
                <span class="club-rating">
                    ⭐ {{ club.rating }}/5
                </span>
            </div>
            
            <div class="club-info">
                <div class="club-address">{{ club.address }}, {{ club.city }}, {{ club.district }}</div>
                <div class="club-phone">
                    {% if club.phone_number %}
                        <a href="tel:{{ club.phone_number }}">{{ club.phone_number }}</a>
                    {% else %}
                        Not available
                    {% endif %}
                </div>
                <div class="club-working-hours">{{ club.display_working_hours }}</div>
            </div>
            
            <!-- Links to social media and other resources -->
            <div class="club-links">
                {% if club.instagram_url %}
                    <a href="{{ club.instagram_url }}" target="_blank">Instagram</a>
                {% endif %}
                {% if club.whatsapp_url %}
                    <a href="{{ club.whatsapp_url }}" target="_blank">WhatsApp</a>
                {% endif %}
                {% if club.twogis_url %}
                    <a href="{{ club.twogis_url }}" target="_blank">2GIS</a>
                {% endif %}
                {% if club.website %}
                    <a href="{{ club.website }}" target="_blank">Website</a>
                {% endif %}
            </div>
        </div>
    </div>
    
</section>
   <!-- 2GIS Map Integration -->
   <div id="container" style="width: 100%; height: 300px; margin-top: 20px; border-radius: 10px;"></div>
   <script src="https://mapgl.2gis.com/api/js/v1"></script>
   <script>
       const map = new mapgl.Map('container', {
           center: [{{ club.longitude }}, {{ club.latitude }}],
           zoom: 13,
           key: "{{ gis_api_key }}",
       });

       const marker = new mapgl.Marker(map, {
           coordinates: [{{ club.longitude }}, {{ club.latitude }}],
           icon: 'https://docs.2gis.com/img/mapgl/marker.svg',
       });
   </script>
{% endblock %}