<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kai Senet{% endblock %}</title>

    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>

    {% include 'base/navbar.html' %} 
    
    {% block content %}

    
    {% endblock %}

  <script src="{% static 'styles/script.js' %}"></script>
</body>
</html>
