{% extends 'base/main.html' %}
{% load static %}

{% comment %} {% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %} {% endcomment %}

{% block title %}Registration{% endblock %}
{% block content %}
<div class="page-wrapper">
    <div class="register-container">
        <h1>Registration</h1>
        <form method="post">
            {% csrf_token %}
            {% for f in form %}
                <div class="form-group">
                    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>
                    {{ f }}
                    <div class="form-error">{{ f.errors }}</div>
                </div>
            {% endfor %}
            <button type="submit" class="btn-register2">Register</button>
        </form>
        <p class="login-prompt">Already have an account?</p>
        <a href="{% url 'login' %}" class="btn-login-link">Login</a>
    </div>
</div>
{% endblock %}
