{% extends 'base/main.html' %}
{% load static %}


{% block title %}Update User{% endblock %}
{% block content %}
<div class="page-wrapper">
    <div class="register-container">
        <h1>Update</h1>
        <form method="post">
            {% csrf_token %}
            {% for f in form %}
                <div class="form-group">
                    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>
                    {{ f }}
                    <div class="form-error">{{ f.errors }}</div>
                </div>
            {% endfor %}
            <button type="submit" class="btn-register2">Save</button>
        </form>
    </div>
</div>

{%endblock%}